<div class="login-container">
  <div align="center">
    <div class="login-content">
      <form #loginForm="ngForm"
            (ngSubmit) = "onClickSubmit(loginForm.value)">
      
        <div class="logo">
            <img class="logo" src="../../assets/images/logo.jpg" alt="logo">
        </div> 
        <h1>Instantly Share Memories</h1>
  
        <div align="left">
          <div class="panel-input">
              <input id = "login_email" 
                     type = "email" 
                     name="login_email" 
                     placeholder = "Email Address"
                     class="input-full-width" 
                     autocomplete="off" 
                     [ngModel]="log_email"
                     [pattern]="emailPattern"
                     #loginEmail="ngModel"
                     required>
              <br/>
          </div>
        </div>

        <div align="left">
          <div class="panel-input">
              <input id = "login_password" 
                     [type]="showLoginPassword ? 'text' : 'password'" 
                     name = "login_password" 
                     placeholder = "Password" 
                     class="input-full-width"
                     [ngModel]="log_password" 
                     #log_Password="ngModel" 
                     required>
              <br/>
          
              <span (click)="loginPassword()">
                <i [className]="showLoginPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"> </i>
              </span>     
          </div>
        </div>
          
        <div class="panel-button" >
          <button class="next-button-width btn" type="submit">Login</button>
        </div>

        <div align="center">
          <div class="or-container">
            <div (click)="emailEnter(loginForm.value)" class="panel-forgotPassword">
              <a>Forgot Password</a>
            </div>
            <div class="line-separator"></div>
            <div class="panel-forgotPassword">
              <a routerLink="/register">Register</a>
            </div>
          </div>
        </div>  

      </form>
    </div>
  </div>
</div>


<!-- modal -->
<div align="center" class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display_error_popup}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">

      <!-- modal-header -->
      <div class="modal-header">
        <h3>iShareMem</h3>
      </div>
      <!-- modal-body -->
      <div class="modal-body">

          <span *ngIf = "isEmail;then condition1 else condition2"></span>

          <ng-template #condition1>
            <div *ngIf="log_Password.errors && loginForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="log_Password.errors.required"> 
                Please Enter your Password.
              </div>	
            </div>
          </ng-template>

          <ng-template #condition2>
            <div *ngIf="loginEmail.errors && loginForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
              <div *ngIf="loginEmail.errors.required"> 
                Please Enter your Email Address
              </div>			   
              <div *ngIf="loginEmail.errors.pattern"> 
                Email Address is not valid.
              </div>	
            </div>
          </ng-template>   
      </div >

      <!-- modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-button" (click)="closeModalDialog()" >OK</button>
      </div>

    </div>
  </div>
</div>

<!-- modal -->                                                                              
<div align="center" class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display_forgot_password_popup}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <form #forgotPasswordForm="ngForm"
          (ngSubmit) = "onResetPassword(forgotPasswordForm.value)">
      <!-- modal-content -->
      <div class="modal-content">
        
        <div class="modal-header">
          <h3>Forgot Password</h3>
        </div>
        
        <!-- modal-body -->
        <div class="modal-body">

          <div align="left" class="panels-body">
            <div class="panel-forgot-password">
              <input id = "forgotPassword_email" 
                     type = "text" 
                     name="forgotPassword_email" 
                     placeholder = "Email Address"
                     class="input-full-width" 
                     autocomplete="off" 
                     [ngModel]="forgot_Password_email"
                     [pattern]="emailPattern"
                     #forgotPasswordEmail="ngModel"
                     required>
              <br/>
            </div>
            <div class="panel-error" *ngIf="forgotPasswordEmail.errors && forgotPasswordForm.submitted" [ngClass] = "'error'"> 
              <div *ngIf="forgotPasswordEmail.errors.required"> 
                * Email Id is required.
              </div>			   
              <div *ngIf="forgotPasswordEmail.errors.pattern"> 
                * Email Id is not valid.
              </div>	
            </div>
          </div>


          <div align="left" class="panels-body">
            <div class="panel-forgot-password">
              <input id = "new_password" 
                     [type]="showNewPassword ? 'text' : 'password'" 
                     name = "new_password" 
                     placeholder = "New Password" 
                     class="input-full-width"
                     [ngModel]="newpassword" 
                     #new_Password="ngModel" 
                     required>
              <br/>
              <span (click)="newPassword()">
                <i [className]="showNewPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"> </i>
              </span>
            </div>
            <div class="panel-error" *ngIf="new_Password.errors && forgotPasswordForm.submitted" [ngClass] = "'error'"> 
              <div *ngIf="new_Password.errors.required"> 
                  * Password is required.
              </div>	
            </div>
          </div>

          <div align="left" class="panels-body">
            <div class="panel-forgot-password">
              <input id = "repeat_password" 
                     [type]="showRepeatPassword ? 'text' : 'password'" 
                     name="repeat_password" 
                     placeholder = "Repeat Password"
                     class="input-full-width" 
                     [ngModel]="repeatpassword" 
                     #repeat_Password="ngModel" 
                     required>
              <br/>
              <span (click)="repeatPassword()">
                <i [className]="showRepeatPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"> </i>
              </span>
            </div>
            <div class="panel-error" *ngIf="repeat_Password.errors && forgotPasswordForm.submitted" [ngClass] = "'error'"> 
              <div *ngIf="repeat_Password.errors.required"> 
                * Repeat password is required.
              </div>	
            </div>
          </div>
      
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default cancle-button" (click)="closeModalDialog()" >CANCLE</button>
          <button type="submit" class="btn btn-default reset-button" >RESET</button>
        </div>

      </div>
    </form>
  </div>
</div>

<!-- modal -->
<div align="center" class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display_forgot_password_error_popup}">
    <!-- modal-dialog -->
    <div class="modal-dialog" role="document">
      <!-- modal-content -->
      <div class="modal-content">

        <!-- modal-header -->
        <div class="modal-header">
          <h3>iShareMem</h3>
        </div>
    
        <!-- modal-body -->
        <div class="modal-body">
            <span *ngIf = "isForgotPassword;then forgot_passwordcondition1 else forgot_passwordcondition2"></span>
            <ng-template #forgot_passwordcondition1>Email Address is not valid.</ng-template>
            <ng-template #forgot_passwordcondition2>Please Enter your Email Address</ng-template>
        </div >
  
        <!-- modal-footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default close-button" (click)="closeModalDialog()" >OK</button>
        </div>
  
      </div>
    </div>
  </div>